version: "3.8"

services:
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - naturechat_net

  frontend:
    build:
      context: ./front.naturechat
    container_name: naturechat_front
    ports:
      - "3000:3000"
    volumes:
      - ./front.naturechat:/app
      - /app/node_modules
    depends_on:
      - api
      - socket
    networks:
      - naturechat_net

  api:
    build:
      context: ./api.naturechat
    container_name: naturechat_api
    ports:
      - "8000:8000"
    volumes:
      - ./api.naturechat:/var/www
    depends_on:
      - db
      - mailhog
    networks:
      - naturechat_net

  socket:
    build:
      context: ./socket.naturechat
    container_name: naturechat_socket
    ports:
      - "3001:3001"
    volumes:
      - ./socket.naturechat:/app
      - /app/node_modules
    networks:
      - naturechat_net

  db:
    image: mysql:8.0
    container_name: naturechat_db
    environment:
      MYSQL_DATABASE: naturechat
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: naturechat
      MYSQL_PASSWORD: naturechat
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - naturechat_net

networks:
  naturechat_net:

volumes:
  dbdata:
